#pagination
{
    width: 100%;
    text-align: center;
    display: inline-block;
}

#movies {
    text-size-adjust: 100%;
    font-family: 'Robusta', sans-serif;
}

body {
    background-color: palegoldenrod;

}

#prev greyed {
    text-align: center;
}